.home__container {
	margin: 0 auto;
	margin-top: 50px;
	width: 80%;
	min-width: 800px;
}

.home__content {
	display: grid;
	grid-template-columns:  1fr 1fr;
	height: 400px;
}


.main-image {
	margin: 0 auto;
}

.main-text {
	font-size: 50px;
	color: #FF725E;
	font-weight: 700;
	margin-bottom: -7px;
}

.secondary-text {
	font-size: 25px;
	font-weight: 300;
	margin-bottom: 15px;
}

.description__container p {
	font-weight: 100;
	letter-spacing: -0.5px;
	color: #333;
}

.home-btn {
	width: 260px;
	height: 60px;
	background-color: #FF725E;
	letter-spacing: 1px;
	border: none;
	border-radius: 2px;
	font-size: 13pt;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	box-shadow: 1px 1px 2px rgba(255, 114, 94, 0.5);
}

.home-btn:hover{
	background-color: #ff806e;
}
