.navbar-container{
    background-color: #E0E0E0;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container ul{
    display: flex;
}

.navbar-container ul li{
    text-decoration: none;
    list-style: none;
    margin-left: 80px;
    font-size: 20px;
}
.navbar-container ul li a{
    text-decoration: none;
    color: #455A64;
    cursor: pointer;
}

.usuario__container {
    margin-right: 10px;
}

.usuario__container a {
    cursor: pointer;
    text-decoration: underline;
}