.footer__container {
	height: 60px;
	background-color: #263238;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
}

.footer__container h3 {
	font-weight: 100;
	font-size: 13pt;
	color: #fff;
}

.footer__container a {
	color: #fff;
}
