.form__container {
	text-align: center;
}

.form-image{
	height: 300px;
	margin-top: 50px;
}
.form-title{
	font-weight: bolder;
	margin-top: 30px;
	font-size: 20pt;
	color: #263238;
}

.form-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 2px;
	padding: 20px;
	margin-top: 20px;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .1);
}

.form__container .salvar-btn {
	margin-top: 10px;
	width: 100px;
	height: 40px;
	background-color: #32ff7e;
	letter-spacing: 1px;
	border: none;
	border-radius: 2px;
	font-size: 13pt;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	box-shadow: 1px 1px 2px rgba(50, 255, 126, 0.5);
}

.form-content{
	height: 40px;
}
.input-item{
	flex: 1;
	height: 40px;
	margin: 10px;
	font-size: 17px;
}
